<!DOCTYPE html>
<html>
<head>
    <title>Tu Busqueda:</title>
</head>
<body>
    <h1>Books</h1>
    <h2> <%= book.title %></h2>
    <h2> <%= book.author %></h2>

    <a href="/">Volver</a>
</body>
</html>