<!DOCTYPE html>
<html>
<head>
    <title>Library</title>
</head>
<body>
    <h1>Books</h1>
    <% books.forEach(book => { %>
        <h2><%= book.title %></h2>
        <p><%= book.author %></p>
        <!-- Other details... -->
    <% }) %>
</body>
</html>